<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BookMapper">

  <resultMap id="book1"
             type="com.example.domain.Book"
             autoMapping="true">
      <association property="author"
                   autoMapping="true"
                   javaType="com.example.domain.Author" />
  </resultMap>

  <select id="findAll" resultMap="book1">
    SELECT
      books.id, books.title,
      books.publisher, books.price,
      authors.name
    FROM books
    JOIN authors
    ON books.author_id = authors.id
  </select>

</mapper>